<div class="container">
  <app-cockpit (serCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary btn-margin-right btn-margin-bottom" (click)="onChange()">Change First Element</button>
      <button class="btn btn-danger btn-margin-bottom" (click)="onDelete()">Destroy First Element</button>
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
              <p>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p></app-server-element>
    </div>
  </div>
</div> 